.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000; /* Black background */
  color: #fff; /* White text color */
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none; /* To remove underline from routerLink */
  color: inherit; /* To inherit text color */
}

.logo img {
  height: 60px; /* Increased logo height */
  margin-right: 20px; /* Space between logo and appname */
}

.appname {
  align-items: center;
  margin-top: 10px;
  font-size: 52px; /* Increased font size of appname */
}
.appname h1 {
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
}
.search-and-home {
  flex: 1; /* Takes remaining space */
  display: flex;
  justify-content: center; /* Center align search bar */
}

.search-bar {
  position: relative;
  width: 300px;
}


.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-results {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.search-results li {
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #e9e9e9;
}


.search-bar input {
  padding: 10px;
  width: 300px; /* Adjust width as needed */
  border: 1px solid #fff; /* White border */
  border-radius: 4px;
  font-size: 16px; /* Increased font size */
  background-color: #f9f7f7; /* Darker background color */
  color: #0f0303; /* White text color */
}

.search-results {
  position: absolute;
  top: 100%; /* Position dropdown below input */
  left: 0;
  z-index: 1000; /* Ensure it's above other elements */
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions button {
  margin-left: 10px;
  padding: 8px 26px;
  border: none;
  border-radius: 20px; /* Rounded edges */
  background-color: #fff; /* White background */
  color: #000; /* Black text color */
  cursor: pointer;
  font-size: 14px;
}

.user-actions button:hover {
  background-color: #ddd; /* Light gray on hover */
}
