<div class="welcome-section">
  <div class="welcome-text">
    <h2>Welcome, librarian!</h2>
  </div>
  <!-- <div class="return-button">
      <button routerLink="/user" class="btn">View Users</button>
    </div> -->
    <!-- <div class="return-button">
      <button routerLink="/rented" class="btn">Books Analytics</button>
    </div> -->
  <div class="return-button">
    <button routerLink="/add-book" class="btn">Add Book</button>
  </div>
  <div class="return-button">
      <button routerLink="/bulkupload" class="btn">Bulk Upload</button>
    </div>
    <div class="return-button">
      <button routerLink="/register" class="btn">Register User</button>
    </div>
</div>
  <div>
    <app-home></app-home>
  </div>